*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{

	font-family: 'ubuntu', serif;
	margin: 0;
    padding: 0;
    max-width: 1200px;
	margin: 0 auto;
	background-image: url("Imagenes/1.jpg");
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	height: 100vh; 
	padding: 20px;
	color: white; 
	text-align: center;
}

header{
	
	display: flex;
	background-color: #000000;
	color: #fff;
	align-items: center;
	padding: 50px;
	justify-content: center;
	text-align: center;
	font-size: 24px;
}

.menu {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}

.menu li {
  margin-right: 20px; 
}

.menu li:last-child {
  margin-right: 0; 
}

.menu li a {
  color: white; 
  text-decoration: none; 
  padding: 10px; 
}

.menu li a:hover {
  background-color: #555; 
}

h2{
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;

}

p{
	font-size: 24px;
	margin: 0;
	margin-bottom: 20px;
}

.banner_text{
	background-image: url("Imagenes/desenfoque.png");
	background-attachment: fixed;
	padding: 40px;
	margin: 90px;
	width: 1000px;
}
.banner_text1{
	background-image: url("Imagenes/desenfoque.png");
	background-attachment: fixed;
	padding: 40px;
	margin: 90px;
	width: 1000px;
}

.imagen_org{
	 
	width: 550px; /* Establece un ancho de 200 píxeles */
    height: 440px; /* Establece un alto de 150 píxeles */
}

#video-container {
    width: 500px;
    margin: 0 auto;
}

video {
    width: 100%;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

.social-media {
  margin-bottom: 10px;
}

.social-icon {
  display: inline-block;
  margin: 0 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-icon:hover {
  color: #ccc;
}